{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <!--main css-->
    <link rel="stylesheet" href="{% static '/css/main.css' %}">


    <meta charset="UTF-8">
    <title>Todo</title>
</head>

<body>
{% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}
<!--header section-->
<section id="todoheader" class="bg-white ">
    <div class="text-right mr-5">
        {% if user.is_authenticated  %}
            <p>you are logged in as {{ user.username }}.
            <a href="{% url 'logout' %}">Logout</a>
            </p>
        {% else %}
        <a href="{% url 'login' %}">Login
        </a>
        {% endif %}

    </div>
    <h1 class="display-1 text-success text-center">
        <strong>todos</strong>
    </h1>

</section>
<!--end of header section-->


<section id="todo" class="height bg-white mt-5 text-left">

    <div class="my-custom-container container gridbg">

        <div class="row">

            <div class="col ">

                <form action="/addtodo/" method="post" class="py-2 text-left">{% csrf_token %}
                <div class="input-group mb-3">
                <input type="text" class="form-control" name="content" placeholder="Enter todo"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">

                <select class="form-control" name="tag" id="user" >
                {% for usr in users %}
                    <option value="{{ usr }}">
                        {{ usr }}
                    </option>
                {% endfor %}
                </select>
                <div class="input-group-append">
                <button class="btn btn-outline-secondary bg-secondary text-white font-weight-bold" type="submit">
                    ADD
                </button>
                </div>

                </div>
                    </form>
            </div>
        </div>

    <div class="row ml-0">
        <div class="col-lg-12">
            <div class="btn-toolbar ">
                <div class="btn-group ">
                    <a href="{% url 'deletecompleted' %}">
                        <button type="button" class="btn btn-warning ">
                            DELETE COMPLETED
                        </button>
                    </a>

                </div>
                <div class="btn-group ml-3">
                    <a href="{% url 'deleteall' %}">
                        <button type="button" class="btn btn-warning">
                            DELETE ALL
                        </button>
                    </a>

                </div>

            </div>
        </div>

    </div>


<!--Todo list section-->
        <div class="row mt-3 no-gutters ">

            <div class="col-6 mb-1 text-left custom-control">

            {% for all_item in useritems %}

                <ul  class=" list-group list-group-flush text-dark">
                {% if all_item.complete %}
                <li class="list-group-item todo-complete">
                    {{ all_item.contents }}

                </li>
                    {% else %}
                    <a href="{% url 'complete' all_item.id %}">
                        <li class="list-group-item text-dark">
                            {{ all_item.contents }}
                        </li>
                    </a>

                    {% endif %}
                </ul>
            {% endfor %}



           </div>


        <!--tag details-->
        <div class="col-6 text-right custom-control">

            {% for all_item in useritems %}

                <ul  class="list-group list-group-flush text-dark">
                {% if all_item.complete %}
                <li class="list-group-item todo-complete">
                    {{ all_item.user }}

                </li>
                    {% else %}
                    <a href="{% url 'complete' all_item.id %}">
                        <li class="list-group-item text-dark">{{ all_item.user }}
                        </li>
                    </a>

                    {% endif %}
                </ul>
            {% endfor %}



           </div>
        </div>

    <footer>

            <div class="text-center">
                {% if useritems.count > 1%}
                {{ useritems.count }} items
                {% elif useritems.count == 1 %}
                    {{ useritems.count }} item
                    {% else %}

                {% endif %}
            </div>

    </footer>
<!--TAG FILTER-->

    <div class="row mt-2 ml-0 pb-1">


    <form action="." method="GET">{% csrf_token %}
    <div class="input-group">

            <select class="form-control bg-warning ml-4" name="tag_filter" style="width: 190px" id="filter"  >
                <option value="All">All</option>
                {% for usr in users %}
                    <option value="{{ usr }}">
                        {{ usr }}
                    </option>
                {% endfor %}

            </select>

            <button type="submit" class="btn input-group-append btn-warning ml-3" style="width: 125px;">SEARCH</button>



            <!--<a href="#">

            </a>-->

</div>
    </form>
    </div>
    <!--END OF TAG FILTER-->


    </div>

<div class="row all-help text-center mt-2" style="display: block" >
    Click on the todo to toggle item status
    <div class="row pad">
        <div class="text-center col-lg-12">
            Copyright &copy; 2019

            <strong>ToDo App</strong>
        </div>
    </div>
</div>

</section>


</body>

</html>